@using Entity
@model Member

@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
@section css{
<style>
    .changePas {
        position: relative;
        top: 200px;
    }
    label{
        color:white;
    }

    img {
        width: 150px;
        height: 150px;
        margin-top: 20px;
       position:relative;
       left:60px;
       border-radius:150px;
    }
</style>
}
<div class="container" style="position:relative; left:150px;">
    <div class="changePas">
        @using (Html.BeginForm("AccountEdit", "Member", FormMethod.Post, htmlAttributes: new { @style = "display:block;", @class = "register-form", @enctype = "multipart/form-data" }))
        {@Html.AntiForgeryToken()
        if (TempData["Error"] != null)
        {
            foreach (string item in (List<string>)Session["hata"])
            {
                <p>item</p>
            }
        }
        <div class="form-group pass_show ">
            <img id="blah" src="@Model.ProfilPhoto.ImageURL" alt="your image" />
            <br /><br />
            @Html.Label("Profil Resmi", new { @class = "from-control" })
            @Html.TextBox("image", null, new { @class = "form-control", @type = "file", @onchange = "readURL(this);" })

            @*//  <input type='file' onchange="readURL(this);" />*@
        </div>
        <div class="form-group pass_show">
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @type = "name", @placeholder = "Kullanıcı Adı" })
        </div>

        <div class="form-group pass_show">

            @Html.TextBoxFor(x => x.Email, new { @type = "email", @class = "form-control", @placeholder = "Email Adres" })
        </div>
        <div class="form-group pass_show ">

            @Html.TextAreaFor(x => x.Adress, 6, 5, new { @type = "adress", @class = "form-control", @placeholder = "Adres" })
        </div>
        <div class="form-group pass_show ">

            @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @type = "phone", @placeholder = "Telefon Numarası" })
        </div>


        <div class="form-group pass_show">
            @if (Model.Gender == Gender.Female)
            {
                <input type="radio" name="gender" id="gender" value="Female" checked /><label for="gender">Female</label>
                <input type="radio" name="gender" id="gender" value="Male" /><label for="gender">Male</label>
            }
            else
            {<input type="radio" name="gender" id="gender" value="Female"/><label for="gender">Female</label>
                <input type="radio" name="gender" id="gender" value="Male" checked/><label for="gender">Male</label>

            }

        </div>
        <div class="form-group pass_show">
          
        </div>
        <div class="form-group pass_show">
            <button class="btn btn-primary">Submit</button>
        </div>


    }
    </div>
    </div>
<!-- JS -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="js/main.js"></script>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

