@using Entity
@model Member
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<style>
    label {
        color: black;
    }

    .product-item {
        padding: 15px;
        background: #fff;
        margin-top: 20px;
        position: relative;
    }

        .product-item:hover {
            box-shadow: 5px 5px rgba(234, 234, 234, 0.9);
        }

        .product-item:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
            font-size: 0;
            line-height: 0;
        }

    .sticker {
        position: absolute;
        top: 0;
        left: 0;
        width: 63px;
        height: 63px;
    }

    .sticker-new {
        background: url(http://keenthemes.com/assets/bootsnipp/new.png) no-repeat;
        left: auto;
        right: 0;
    }

    .pi-img-wrapper {
        position: relative;
    }

        .pi-img-wrapper div {
            background: rgba(0,0,0,0.3);
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            width: 100%;
            height: 100%;
            text-align: center;
        }

    .product-item:hover > .pi-img-wrapper > div {
        display: block;
    }

    .pi-img-wrapper div .btn {
        padding: 3px 10px;
        color: #fff;
        border: 1px #fff solid;
        margin: -13px 5px 0;
        background: transparent;
        text-transform: uppercase;
        position: relative;
        top: 50%;
        line-height: 1.4;
        font-size: 12px;
    }

    .product-item .btn:hover {
        background: #e84d1c;
        border-color: #c8c8c8;
    }

    .product-item h3 {
        font-size: 14px;
        font-weight: 300;
        padding-bottom: 4px;
        text-transform: uppercase;
    }

        .product-item h3 a {
            color: #3e4d5c;
        }

            .product-item h3 a:hover {
                color: #E02222;
            }

    .pi-price {
        color: #e84d1c;
        font-size: 18px;
        float: left;
        padding-top: 1px;
    }

    .product-item .add2cart {
        float: right;
        color: #a8aeb3;
        border: 1px #ededed solid;
        padding: 3px 6px;
        text-transform: uppercase;
    }

        .product-item .add2cart:hover {
            color: #fff;
            background: #e84d1c;
            border-color: #e84d1c;
        }

    a {
        color: black !important;
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div style="background-image: url('../../Content/img/banner/el.jpg'); background-size: cover;">
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10"><h1>User name</h1></div>
            <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--left col-->

                <div class="text-center">
                    @if (Model.HasPhoto == false)
                    {
                        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">

                    }
                    else
                    {
                        <img src="@Model.ProfilPhoto.ImageURL" class="avatar img-circle img-thumbnail" alt="avatar">

                    }
                </div><br>

                <ul class="list-group">

                    <li class="list-group-item text-right"><span class="pull-left"><strong>@Html.ActionLink("Ürünlerim", "Products", "Member")</strong></span>@Html.Label(Model.Products.Count().ToString())</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>@Html.Label("Memnuniyet")</strong></span>@Html.Label(Model.FavorCount.ToString())</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>@Html.Label("Şikayet")</strong></span>@Html.Label(Model.ComplaintCount.ToString())</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>@Html.ActionLink("Mesajlarım", "Messages", "Member")</strong></span>@Model.Messages.Count().ToString()</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>@Html.ActionLink("Bildirimler", "Notifications", "Member")</strong></span>@Model.Notifications.Count().ToString()</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>@Html.ActionLink("Siparişlerim", "Orders", "Member")</strong></span></li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>@Html.ActionLink("Hesap Bilgileri Güncelle", "AccountEdit", "Member")</strong></span></li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>@Html.ActionLink("Şifre Değiştir", "ChangePassword", "Member")</strong></span></li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>@Html.ActionLink("Ürün Ekle", "AddProduct", "Product")</strong></span></li>

                </ul>

            </div><!--/tab-pane-->
            <div class="col-sm-9">
                <div class="container">
                    <div class="row">
                        @if (ViewBag.Products != null)
                        {
                            foreach (Product item in ViewBag.Products)
                            {
                                <div class="col-md-4">
                                    <div style="height:250px; width:250px;" class="product-item">
                                        <div class="pi-img-wrapper">
                                            <img src="@item.ProductImages.FirstOrDefault().ImageURL" class="img-responsive" alt="Berry Lace Dress">
                                            <div>
                                                @Html.ActionLink("Ürün Detayı", "ProductDetail", "Product",new {@ProductID=item.ID }, new { @class = "btn" });
                                            </div>
                                        </div>
                                        <h3>@Html.Label(item.ProductName)</h3>
                                        <div class="pi-price">@item.Price</div>
                                        @Html.ActionLink("Düzenle", "EditProduct", "Product", new { @ProductID = item.ID }, new { @class = "btn" })
                                        @Html.ActionLink("Sil", "DeleteProduct", "Product", new { @ProductID = item.ID }, new { @class = "btn" })
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <br>

                <br>

            </div>

        </div><!--/tab-pane-->
    </div><!--/tab-content-->
</div><!--/col-9-->



<script>
    $(document).ready(function () {


        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.avatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }


        $(".file-upload").on('change', function () {
            readURL(this);
        });
    });
</script>
