@using Entity
@model Member
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<style>

    body {
        background-image: url('../../Content/img/CategoryImage/Orgum.jpg');
        background-size: cover;
    }

    .product-item {
        padding: 15px;
        background: #fff;
        margin-top: 20px;
        position: relative;
    }

        .product-item:hover {
            box-shadow: 5px 5px rgba(234, 234, 234, 0.9);
        }

        .product-item:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
            font-size: 0;
            line-height: 0;
        }

    .sticker {
        position: absolute;
        top: 0;
        left: 0;
        width: 63px;
        height: 63px;
    }

    .sticker-new {
        background: url(http://keenthemes.com/assets/bootsnipp/new.png) no-repeat;
        left: auto;
        right: 0;
    }

    .pi-img-wrapper {
        position: relative;
    }

        .pi-img-wrapper div {
            background: rgba(0,0,0,0.3);
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            width: 100%;
            height: 100%;
            text-align: center;
        }

    .product-item:hover > .pi-img-wrapper > div {
        display: block;
    }

    .pi-img-wrapper div .btn {
        padding: 3px 10px;
        color: #fff;
        border: 1px #fff solid;
        margin: -13px 5px 0;
        background: transparent;
        text-transform: uppercase;
        position: relative;
        top: 50%;
        line-height: 1.4;
        font-size: 12px;
    }

    .product-item .btn:hover {
        background: #e84d1c;
        border-color: #c8c8c8;
    }

    .product-item h3 {
        font-size: 14px;
        font-weight: 300;
        padding-bottom: 4px;
        text-transform: uppercase;
    }

        .product-item h3 a {
            color: #3e4d5c;
        }

            .product-item h3 a:hover {
                color: #E02222;
            }

    .pi-price {
        color: darkcyan;
        font-size: 18px;
        float: left;
        padding-top: 1px;
    }

    .product-item .add2cart {
        float: right;
        color: #a8aeb3;
        border: 1px #ededed solid;
        padding: 3px 6px;
        text-transform: uppercase;
    }

        .product-item .add2cart:hover {
            color: #fff;
            background: #e84d1c;
            border-color: #e84d1c;
        }

    spam {
        /*//api yi ajaxla webclient le add referans ile kullanabilirisn*/
        cursor: pointer;
    }
    .profile-sidebar {
    float: left;
    width: 300px;
    margin-right: 20px
}

.profile-content {
    overflow: hidden
}

.profile-sidebar-portlet {
    padding: 30px 0 0!important
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    border-radius: 50%!important
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 13px;
    font-weight: 800;
    margin-bottom: 7px
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px
}

.profile-userbuttons .btn {
    margin-right: 5px
}

.profile-userbuttons .btn:last-child {
    margin-right: 0
}

.profile-userbuttons button {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px
}

.profile-usermenu {
    margin-top: 30px;
    padding-bottom: 20px
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7
}

.profile-usermenu ul li:last-child {
    border-bottom: none
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 16px;
    font-weight: 400
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 16px
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px
}

.profile-stat {
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f4f7
}

.profile-stat-title {
    color: #7f90a4;
    font-size: 25px;
    text-align: center
}

.profile-stat-text {
    color: #5b9bd1;
    font-size: 11px;
    font-weight: 800;
    text-align: center
}

.profile-desc-title {
    color: #7f90a4;
    font-size: 17px;
    font-weight: 600
}

.profile-desc-text {
    color: #7e8c9e;
    font-size: 14px
}

.profile-desc-link i {
    width: 22px;
    font-size: 19px;
    color: #abb6c4;
    margin-right: 5px
}

.profile-desc-link a {
    font-size: 14px;
    font-weight: 600;
    color: #5b9bd1
}

@@media (max-width:991px) {
    .profile-sidebar {
        float: none;
        width: 100%!important;
        margin: 0
    }
    .profile-sidebar>.portlet {
        margin-bottom: 20px
    }
    .profile-content {
        overflow: visible
    }
}

</style>
<br /><br /><br /><br />
<div class="container">
    <div class="row">
        <div class="col-md-2">
           
                <div class="portlet light profile-sidebar-portlet bordered">
 
                    <div class="profile-usertitle">
                        <img style="height:150px; width:150px; border-radius:50px;" src="@Model.ProfilPhoto.ImageURL" class="img-responsive" alt="">
                        <div class="profile-usertitle-name">@Model.UserName</div>
                        <div class="profile-usertitle-job">@Model.Text</div>
                        <div class="profile-usertitle-job">@Model.FavorCount Öneri</div>
                        <div class="profile-usertitle-job">
                            @Model.ComplaintCount Şikayet<div>
                            </div>
                            <div class="profile-userbuttons">

                                <a href="/Member/MyMessages/@Model.Id" type="button" class="btn btn-info  btn-sm">Mesaj Gonder</a>
                                <button class="btn btn-danger btn-sm sikayet" rel="@Model.Id">Şikayet Et</button>
                                <button class="btn btn-danger btn-sm oner" rel="@Model.Id">Öner</button>
                            </div>
                        </div>
                    </div>
                    </div></div>
        <div class="col-md-10">
            <div class="row">
                @foreach (Product item in ViewBag.ProductList)
                {
                    <div class="col-md-4">
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="@item.ProductImages.FirstOrDefault().ImageURL" class="img-responsive" alt="@item.ProductName">
                                <div>
                                    <a href="/Product/ProductDetail/@item.ID" class="btn">Ürün Detayı</a>
                                </div>
                            </div>
                            <h3><a href="shop-item.html">@item.ProductName</a> </h3>
                            @if (item.StockCount == 1)
                            {
                                <h4>Son 1 Ürün!!</h4>
                            }
                            <div class="pi-price">@item.Price.ToString("C")</div>
                            <br /><br />

                            <div class="pi-price" style="padding-left:5px;"><p>@item.LikeCount.ToString() Like</p> </div>
                            <div class="pi-price" style="padding-left:5px;"><p>@item.DisLikeCount.ToString() Dislike</p> </div>

                            <a href="/Basket/AddToBasket/@item.ID" class="btn add2cart">Sepete Ekle</a>

                          
                        </div>
                    </div>


                }
            </div>
        </div>

    </div>
</div>
<script>
    $('.sikayet').click(function () {
        var id = $('.sikayet').attr('rel');
        $.ajax({
            url: "/Member/MemberComplaint/" + id,
            method:"POST",
            success: function (sonuc) {
                if(sonuc)
                window.location = window.location;
            }
        })
    });
    $('.oner').click(function () {
        var id = $('.oner').attr('rel');
        $.ajax({
            url: "/Member/SuggestCount/" + id,
            method: "POST",
            success: function (sonuc) {
                if (sonuc)
                    window.location = window.location;
            }
        })
    });
</script>
