@using Entity
@model Member
@{
    Layout = null;
}
<br /><br /><br /><br /><br /><br />
<div class="container" style="position:relative; right:100px;">
    <div class="row">
        <div class="col-md-4 mar-cls">
            <div class="pro-sec">
                <a title="Your Name" href="/Member/MyProducts" class="pro-ava-img">
                    <img alt="@Model.UserName" src="@Model.ProfilPhoto.ImageURL" class="pro-avatar-img">
                </a>
                <div class="ov-div">
                    <div class="twPc-divName">
                        @Html.Label(@Model.UserName)
                    </div>
                </div>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-folder-close">
                                </span>@Model.Text
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="/Member/MyProducts">Ürünlerim</a>
                                        <span class="badge">@Model.Products.Count()</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="/Member/Notifications/">Bildirimler</a>
                                        <span class="badge">@Model.Notifications.Count()</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="#">Şikayet</a>
                                        <span class="badge">@Model.ComplaintCount.ToString()</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="#">Begeni</a>
                                        <span class="badge">@Model.FavorCount.ToString()</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="/Member/Messages/">Mesajlarım</a>
                                        <span class="badge">@Model.Messages.Count().ToString()</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <span class="glyphicon glyphicon-user">
                                </span>Account
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="/Order/MyOrders/">Siparişlerim</a><span class="label label-success">@Model.Orders.Count()</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/Product/AddProduct/">Ürün Ekle</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/Member/ChangePassword/">Şifre Değiştir</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/Member/AccountEdit/">Profilimi Düzenle</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="/Member/DeleteAccount/" class="text-danger">
                                            Hesabımı Sil
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
        <!-- code end -->
    </div>
</div>


