@using Entity
@model CreditCardPayment
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<style>
    body {
        background: url('../../Content/img/banner/2.jpg') fixed;
        background-size: cover;
    }
</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container">
    <hr>
    <p>
       
    </p>
    <div class="row">

        <aside style="position:relative; left:280px;" class="col-sm-6">
            <article class="card">
                <div class="card-body p-5">
                    <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
                                <i class="fa fa-credit-card"></i> Credit Card
                            </a>
                        </li>                       
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#nav-tab-bank">
                                <i class="fa fa-university"></i>  Bank Transfer
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="nav-tab-card">
                            <p class="alert alert-success">
                                <strong>Total:@ViewBag.SubTotal</strong>
                                <strong>Cart ID:@ViewBag.BasketNo  </strong>
                            </p>
                            @using (Html.BeginForm("PayCreditCart", "Basket", FormMethod.Post, new { @class = "form-group" }))
                            {
                                <div class="form-group">
                                    <label for="username">Full name (on the card)</label>
                            @Html.TextBoxFor(x => x.NameSurname, new {@class="form-control",@type="text",@required="required" })
                                    @*<input type="text" class="form-control" name="NameSurname" placeholder="" required=""*@
                                </div> <!-- form-group.// -->
                                <div class="form-group">
                                    <label for="cardNumber">Card number</label>
                                    <div class="input-group">
                                        @Html.TextBoxFor(x => x.CartNumber, new { @class = "form-control", @type = "text", @required = "required" })
                                        
                                        <div class="input-group-append">
                                            <span class="input-group-text text-muted">
                                                <i class="fab fa-cc-visa"></i>   <i class="fab fa-cc-amex"></i>
                                                <i class="fab fa-cc-mastercard"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div> <!-- form-group.// -->
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label><span class="hidden-xs">Expiration</span> </label>
                                            <div class="input-group">
                                                @Html.TextBoxFor(x => x.ExpireMonth, new { @class = "form-control", @type = "number", @required = "required", @placeholder = "MM" })
                                                @Html.TextBoxFor(x => x.ExpireYear, new { @class = "form-control", @type = "number", @required = "required", @placeholder = "YY" })
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">

                                            <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label> @Html.TextBoxFor(x => x.CV2, new { @class = "form-control", @type = "number", @required = "required", @placeholder = "CVV" })
  
                                        </div> <!-- form-group.// -->
                                    </div>
                                </div> <!-- row.// -->
                                <button class="subscribe btn btn-primary btn-block" type="submit"> Confirm  </button>
                            }
                        </div> <!-- tab-pane.// -->
                      
                        <div class="tab-pane fade" id="nav-tab-bank">
                            <p>Bank accaunt details</p>
                            <dl class="param">
                                <dt>BANK:</dt>
                                <dd> THE WORLD BANK</dd>
                            </dl>
                            <dl class="param">
                                <dt>Accaunt number: </dt>
                                <dd> 12345678912345</dd>
                            </dl>
                            <dl class="param">
                                <dt>IBAN: </dt>
                                <dd> 123456789</dd>
                            </dl>
                            <p>
                                <strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div> <!-- tab-pane.// -->
                    </div> <!-- tab-content .// -->
                </div> <!-- card-body.// -->
            </article> <!-- card.// -->

        </aside> <!-- col.// -->
    </div> <!-- row.// -->
</div>
<!--container end.//-->
