@using Entity
@model Basket
@{
    ViewBag.Title = "IndexBasket";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<br /><br /><br /><br /><br />
<h2 style="text-align:center;">Sepetim</h2>
<br />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <table id="cart" class="table table-hover table-condensed">
        @if (Model.ProductItems.Count ==0)
        {
            <h3 style="text-align:center;">Sepet Boş</h3>
        }
        else
        {
            <thead>
                <tr>
                    <th style="width:50%">Product</th>
                    <th style="width:10%">Price</th>
                    <th style="width:8%">Quantity</th>
                    <th style="width:22%" class="text-center">Subtotal</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            foreach (var item in Model.ProductItems)
            {
                <tbody>
                    <tr>
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-sm-2 hidden-xs"><img src="@item.Product.ProductImages.FirstOrDefault().ImageURL" alt="@item.Product.ProductName" class="img-responsive" /></div>
                                <div class="col-sm-10">
                                    <h4 class="nomargin">@item.Product.ProductName</h4>
                                    <p>@item.Product.Content</p>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price">@item.Product.Price.ToString("C")</td>
                        <td data-th="Quantity">
                            <input type="number" class="form-control text-center" value="@item.ItemCount">
                        </td>
                        <td data-th="Subtotal" class="text-center">@item.TotalPrice.ToString("C")</td>
                        <td class="actions" data-th="">
                            <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </tbody>
            }
            <tfoot>
                <tr>
                    <td><a href="@ViewBag.LastPage" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td class="hidden-xs text-center"><strong>Total @Model.SubTotal.ToString("C") </strong></td>
                    <td><a href="/Basket/Checkout/@Model.ID" class="btn btn-success btn-block">Checkout<i class="fa fa-angle-right"></i></a></td>
                </tr>
            </tfoot>
        }
    </table>
</div>

