
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <link rel="icon" href="/Content/img/favicon.png" type="image/png">
    <title>Fashiop</title>
    <!-- Bootstrap CSS -->



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/Content/css/bootstrap.css">
    <link rel="stylesheet" href="/Content/vendors/linericon/style.css">
    <link rel="stylesheet" href="/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/Content/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="/Content/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="/Content/vendors/animate-css/animate.css">
    <link rel="stylesheet" href="/Content/vendors/jquery-ui/jquery-ui.css">
    <!-- main css -->
    <link rel="stylesheet" href="/Content/css/style.css">
    <link rel="stylesheet" href="/Content/css/responsive.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="/Content/js/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/  css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"></script>
    <script src="/Content/js/popper.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/stellar.js"></script>
    <script src="/Content/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="/Content/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="/Content/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="/Content/vendors/isotope/isotope-min.js"></script>
    <script src="/Content/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/Content/js/jquery.ajaxchimp.min.js"></script>
    <script src="/Content/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="/Content/vendors/flipclock/timer.js"></script>
    <script src="/Content/vendors/counter-up/jquery.counterup.js"></script>
    <script src="/Content/js/mail-script.js"></script>
    <script src="/Content/js/theme.js"></script>

    @RenderSection("css", false)
</head>

<body>

    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="top_menu row m0">
            <div class="container-fluid">
                <div class="float-left">
                    <p>Call Us: 012 44 5698 7456 896</p>
                    <h1>HomeShop</h1>
                </div>
                <div class="float-right">
                    <ul class="right_side">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <p style="display:inline">Hoşgeldin! </p>@User.Identity.Name
                            </li>
                        }
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>
                                @Html.ActionLink("Registery", "Register", "Member")
                            </li>
                            <li>
                                @Html.ActionLink("Login", "Login", "Member")
                            </li>
                        }


                        <li>
                            @Html.ActionLink("Contact Us", "Index", "Contact")
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                @Html.ActionLink("Logout", "LogOut", "Member")
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <div class="row w-100">
                            <div class="col-lg-7 pr-0">
                                <ul class="nav navbar-nav center_nav pull-right">
                                    <li class="nav-item active">
                                        @Html.ActionLink("Home", "Index", "Home")
                                    </li>
                                    <li class="nav-item">
                                        @Html.ActionLink("Shop", "Index", "Product")
                                    </li>
                                    <li class="nav-item">
                                        @Html.ActionLink("Contact", "Index", "Contact")
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-5">
                                <ul class="nav navbar-nav navbar-right right_nav pull-right">
                                    <li class="nav-item">
                                        <a href="#" class="icons">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    @if (User.Identity.IsAuthenticated)
                                    {

                                        <li class="nav-item">
                                            <a href="/Member/MyProducts/" class="icons">
                                                Hesabım
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    }

                                    <li class="nav-item">
                                        @*//bu kısmı sor*@
                                        <a href="/Basket/IndexBasket/" class="icons">
                                            <i class="lnr lnr lnr-cart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    @RenderBody()


    @RenderSection("script", false)
</body>

</html>