@using Entity
@model List<Product>
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<style>

    body {
        background: #f1f1f1;
    }

    .product-item {
        padding: 15px;
        background: #fff;
        margin-top: 20px;
        position: relative;
    }

        .product-item:hover {
            box-shadow: 5px 5px rgba(234, 234, 234, 0.9);
        }

        .product-item:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
            font-size: 0;
            line-height: 0;
        }

    .sticker {
        position: absolute;
        top: 0;
        left: 0;
        width: 63px;
        height: 63px;
    }

    .sticker-new {
        background: url(http://keenthemes.com/assets/bootsnipp/new.png) no-repeat;
        left: auto;
        right: 0;
    }

    .pi-img-wrapper {
        position: relative;
    }

        .pi-img-wrapper div {
            background: rgba(0,0,0,0.3);
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            width: 100%;
            height: 100%;
            text-align: center;
        }

    .product-item:hover > .pi-img-wrapper > div {
        display: block;
    }

    .pi-img-wrapper div .btn {
        padding: 3px 10px;
        color: #fff;
        border: 1px #fff solid;
        margin: -13px 5px 0;
        background: transparent;
        text-transform: uppercase;
        position: relative;
        top: 50%;
        line-height: 1.4;
        font-size: 12px;
    }

    .product-item .btn:hover {
        background: #e84d1c;
        border-color: #c8c8c8;
    }

    .product-item h3 {
        font-size: 14px;
        font-weight: 300;
        padding-bottom: 4px;
        text-transform: uppercase;
    }

        .product-item h3 a {
            color: #3e4d5c;
        }

            .product-item h3 a:hover {
                color: #E02222;
            }

    .pi-price {
        color: #e84d1c;
        font-size: 18px;
        float: left;
        padding-top: 1px;
    }

    .product-item .add2cart {
        float: right;
        color: #a8aeb3;
        border: 1px #ededed solid;
        padding: 3px 6px;
        text-transform: uppercase;
    }

        .product-item .add2cart:hover {
            color: #fff;
            background: #e84d1c;
            border-color: #e84d1c;
        }

    i:hover {
    }
</style>
<section class="home_banner_area">
    <div class="overlay"></div>
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content row">
                <div class="offset-lg-2 col-lg-8">
                    <h3>
                        Dükkanın Evin
                        <br />
                    </h3>
                    <p>
                        Yap Sat Hayallerin gerçek olsun.
                    </p>
                    @Html.ActionLink("View Collection", "Index", "Product", new { @class = "white_bg_btn" })

                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        @foreach (Product item in Model)
        {<div class="col-md-4">
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="@item.ProductImages.FirstOrDefault().ImageURL" class="img-responsive" alt="@item.ProductName">
                        <div>
                            <a href="/Product/ProductDetail/@item.ID" class="btn">Ürün Detayı</a>
                        </div>
                    </div>
                    <h3><a href="shop-item.html">@item.ProductName</a></h3>
                    <div class="pi-price">@item.Price.ToString("C")</div>
                    <br /><br />
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="pi-price" style="padding-left:5px;"><a href="/Product/LikeCount/@item.ID"><i class="fas fa-thumbs-up delLike" ProductID=@item.ID></i></a><p>@item.LikeCount.ToString()</p></div>
                        <div class="pi-price" style="padding-left:5px;"><a href="/Product/AddDislike/@item.ID"><i class="fas fa-thumbs-down delDislike" ProductID=@item.ID></i></a><p class="del">@item.DisLikeCount.ToString()</p></div>
                    }
                    <a href="/Basket/AddBasket?ProductID=@item.ID&CategoryID=@item.CategoryID" class="btn add2cart">Sepete Ekle</a>
                    <div class="sticker sticker-new"></div>
                </div>
            </div>

        }



    </div>
</div>
<script>
    debugger
    $(".delLike").click(function () {
        var id = $(".delLike").attr("ProductID");

        $.ajax({
            url: "/Product/AddLike/" + id,
            method: "POST",
            success: function (sonuc) {
                if (sonuc)
                    window.location = window.location;

            
            }
        });
    });
    $(".delDislike").click(function () {
        var id = $(".delDislike").attr("ProductID");

        $.ajax({
            url: "/Product/AddDisLike/" + id,
            method: "POST",
            success: function (sonuc) {
                if (sonuc)
                    window.location = window.location;


            }
        });
    });
</script>
